.banner-container{
    display: flex;
    flex-flow: row wrap;
    color: white;
    justify-content: space-around;
    
}


.baner-text{
    display: flex;
    
}


@media only screen and (min-width: 600px) {
    .banner-container{
        display: flex;
        flex-flow: row wrap;
        color: white;
        justify-content: space-around;
        
    }
    
    .baner-text{
        display: flex;
        
    }
    

}